{% if not description %}{% set description = 'Documentation for Novasheets ' + title %}{% endif -%}
<meta charset="utf-8">
<title>{{title}} &ndash; NovaSheets</title>
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<meta name="description" content="{{description}}">
<meta name="keywords" content="novasheets,novasheets documentation,novasheets syntax,novasheets {{title|lower}},{{description|lower}}">
<link rel="icon" href="/assets/images/favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="novasheet" href="/assets/css/main.nss">