---
permalink: _redirects
---
/src/latest     https://nixinova.github.io/NovaSheets/src/novasheets.js
/src/:ver       https://github.com/Nixinova/NovaSheets/releases/download/:ver/novasheets-:ver.js
/src/:ver/min   https://github.com/Nixinova/NovaSheets/releases/download/:ver/novasheets-:ver.min.js
