---
permalink: _redirects
---
/docs/variables/default/        /docs/default-variables/
/src/latest                     /src/novasheets.js
/src/stable                     /src/vers/novasheets-0.6.5.js
/src/stable/min                 /src/vers/novasheets-0.6.5.min.js
/src/:ver                       /src/vers/novasheets-:ver.js
/src/:ver/min                   /src/vers/novasheets-:ver.min.js
/src/vers/novasheets-0.1.x*     /src/vers/novasheets-0.1.2:splat
/src/vers/novasheets-0.2.x*     /src/vers/novasheets-0.2.1:splat
/src/vers/novasheets-0.3.x*     /src/vers/novasheets-0.3.5:splat
/src/vers/novasheets-0.4.x*     /src/vers/novasheets-0.4.7:splat
/src/vers/novasheets-0.5.x*     /src/vers/novasheets-0.5.2:splat
/src/vers/novasheets-0.6.x*     /src/vers/novasheets-0.6.5:splat
