<thead>
    <tr>
        <th>Version</th>
        <th>Released</th>
        <th>Changelog</th>
        <th colspan="2" class="desktoponly">Download</th>
        <th>Docs</th>
    </tr>
</thead>
{% for item in versions | reverse %}
    {% set ver %}{{ item.slice(0, 5) }}{% endset %}
    {% set date %}{{ item.slice(6, 16) }}{% endset %}
    {% set docs %}{{ item.slice(17, 21) }}{% endset %}
    {% set hash %}{{ item.slice(22) }}{% endset %}
    {% set repo = "https://github.com/Nixinova/NovaSheets" %}
    <tr  {% if ver.slice(-1) == 0 %} style="background: #1114;" {% endif %}>
        <td>{{ver}}</td>
        <td>{{date}}</td>
        <td><a href="/changelog/#{{ver | replace('.', '')}}">View</a></td>
        <td class="desktoponly"><a href="/src/{{ver}}">Full</a></td>
        <td class="desktoponly"><a href="/src/{{ver}}/min">Min</a></td>
        <td>
            {% if docs == "rdme" or docs == "sntx" %}
                <a href="{{repo}}/blob/{{ver}}/{{
                    docs | replace('rdme', 'readme') | replace('sntx','syntax')
                }}.md">Browse</a>
            {% elif docs == "wiki" %}
                <a href="{{repo}}/wiki/Syntax/{{hash}}">Wiki</a>
            {% elif docs == "docs" %}
                <a href="/docs/">Docs</a>
            {% elif docs == "cmit" %}
                <a href="{{repo}}/tree/{{hash}}/pages/docs">Browse</a>
            {% elif docs == "ldoc" %}
                <a href="{{repo}}/tree/{{ver}}/pages/docs">Browse</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}