<thead>
    <tr>
        <th>Version</th>
        <th>Released</th>
        <th>Changelog</th>
        <th colspan=2>Download</th>
        <th>Docs</th>
    </tr>
</thead>
{% for item in versions | reverse %}
    {% set ver %}{{ item.slice(0, 5) }}{% endset %}
    {% set date %}{{ item.slice(6, 14) }}{% endset %}
    {% set docs %}{{ item.slice(15, 19) }}{% endset %}
    {% set hash %}{{ item.slice(20) }}{% endset %}
    {% set repo = "https://github.com/Nixinova/NovaSheets" %}
    <tr  {% if ver.slice(-1) == 0 %} style="background: #1114;" {% endif %}>
        <td>
            {{ver}}
        </td>
        <td>
            {{date.slice(0,4)}}-{{date.slice(4,6)}}-{{date.slice(6,8)}}
        </td>
        <td>
            <a href="{{repo}}/releases/tag/{{ver}}">View</a>
        </td>
        <td>
            <a href="{{repo}}/releases/download/{{ver}}/novasheets-{{ver}}.js">Full</a>
        </td>
        <td>
            <a href="{{repo}}/releases/download/{{ver}}/novasheets-{{ver}}.min.js">Min</a>
        </td>
        <td>
            {% if docs == "rdme" or docs == "sntx" %}
                <a href="{{repo}}/blob/{{ver}}/{{
                    docs | replace('rdme', 'readme') | replace('sntx','syntax')
                }}.md">Browse</a>
            {% elif docs == "wiki" %}
                <a href="{{repo}}/wiki/Syntax/{{hash}}">Wiki</a>
            {% elif docs == "docs" %}
                <a href="/docs/">Docs</a>
            {% elif docs == "ldoc" %}
                <a href="{{repo}}/tree/{{ver}}/pages">Browse</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}