<!DOCTYPE html>
<html lang="en-NZ">
    <head>
        {% include "components/head.html" %}
        {% if nss %}<link rel="novasheet" href="/assets/css/{{nss}}.nss">{% endif %}
        {% if js %}<script src="/assets/js/{{js}}.js"></script>{% endif -%}
        {% if js2 %}<script src="/assets/js/{{js2}}.js"></script>{% endif -%}
        <script src="/assets/js/headings.js"></script>
        <script src="/src/vers/novasheets-{% include "templates/version.txt" %}.js"></script>
    </head>

    <body>
        <header>{% include "components/header.njk" %}</header>
        <main>{{ content | safe }}</main>
        <footer>{% include "components/footer.html" %}</footer>
    </body>
</html>