<!DOCTYPE html>
<html lang="en-NZ">
    <head>
        {% include "components/head.html" %}
        <link rel="novasheet" href="/assets/css/docs.nss">
        {% if js %}<script src="/assets/js/{{js}}.js"></script>{% endif -%}
        {% if js2 %}<script src="/assets/js/{{js2}}.js"></script>{% endif -%}
        <script src="/src/vers/novasheets-{% include "templates/version.txt" %}.js"></script>
    </head>

    <body>
        <header>{% include "components/header.njk" %}</header>
        <main>
            <aside>
                <a {% if permalink != "/docs/" %}href="/docs/"{% endif %}>Documentation</a>
                <ul style="list-style-type: none;">
                    <li>
                        <a {% if permalink != "/docs/variables/" %}href="/docs/variables/"{% endif %}>Variables</a>
                    </li>
                    <li style="margin-left: 1em;">
                        <a {% if permalink != "/docs/default-variables/" %}href="/docs/default-variables/"{% endif %}>Default variables</a>
                    </li>
                    <li>
                        <a {% if permalink != "/docs/operators/" %}href="/docs/operators/"{% endif %}>Operators</a>
                    </li>
                    <li>
                        <a {% if permalink != "/docs/selectors/" %}href="/docs/selectors/"{% endif %}>Selectors</a>
                    </li>
                    <li>
                        <a {% if permalink != "/docs/objects/" %}href="/docs/objects/"{% endif %}>Objects</a>
                    </li>
                    <li>
                        <a {% if permalink != "/docs/comments/" %}href="/docs/comments/"{% endif %}>Comments</a>
                    </li>
                    <li>
                        <a {% if permalink != "/docs/constants/" %}href="/docs/constants/"{% endif %}>Parser constants</a>
                    </li>
                </ul>
            </aside>
            <div id="content">
                {{ content | safe }}
            </div>
        </main>
        <footer>{% include "components/footer.html" %}</footer>
    </body>
</html>