---
layout: layouts/base.njk
permalink: /
title: Home
description: "The official website of NovaSheets"
keywords: "nixinova,novasheets"
nss: "home"
js: "colouring"
---

<div id="showcase">
    <div class="section-container">
        <div class="item-container main-container">
            <div class="item">
                <h1>NovaSheets</h1>
                <p>A lightweight CSS preprocessor that is simple but powerful.</p>
                <p id="welcome-install" class="item-link" style="padding-bottom: 0;">
                    <a href="/install/">Install now</a>
                    <pre>npm install -g novasheets</pre>
                </p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="item-container">
            <div class="item">
                <h2>What is NovaSheets?</h2>
                <p>NovaSheets is a powerful CSS preprocessor with the ability to easily create intricate CSS files with simple syntax. With many built-in variables for you to use, you can take your stylesheets to the next level.</p>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="item-container">
            <div class="item">
                <h2>Simple</h2>
                <p>Variables? Functions? Mixins? Templates?<br>Find them all under one name.</p>
                <p class="item-link">
                    <a href="/docs/">View docs</a>
                </p>
            </div>
            <div class="item">
                <pre>
                    <code class="language-nss">
                        @var color = hsl($[hue|300], 75%, 80%)\n
                        body {background: $(color|hue=200);}
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="item-container">
            <div class="item">
                <h2>Lightweight</h2>
                <p>With one import, gain access to the full parsing power.</p>
                <p class="item-link">
                    <a href="/versions/">View downloads</a>
                </p>
            </div>
            <div class="item">
                <pre>
                    <code class="language-nss">
                        &lt;script src="novasheets.js"&gt;&lt;/script&gt;
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="item-container">
            <div class="item">
                <h2>Powerful</h2>
                <p>Utilize the wide variety of built-in functions offered to you.</p>
                <p class="item-link">
                    <a href="/docs/default-variables/">Learn more</a>
                </p>
            </div>
            <div class="item">
                <pre>
                    <code class="language-nss">
                        $(@spin | hsl(100, 20%, 30%) | -30 )\n
                        $(@breakpoint | 800px | .container | width: 100%; | width: 30vw; )
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="item-container">
            <div class="item">
                <h2>Versatile</h2>
                <p>Peform powerful variable interpolation.</p>
                <p class="item-link">
                    <a href="/docs/variables/">See how</a>
                </p>
            </div>
            <div class="item">
                <pre>
                    <code class="language-nss">
                        $(@each | .item1, .item2, .item3 | $v &gt; $v[$i-1] ) {\n
                        &nbsp; display: flex;\n
                        }
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <div class="section-container" style="background: inherit;">
        <div class="item-container two-container">
            <div class="item">
                <h2>Get started</h2>
                <p>See the <a href="/install/">Installation</a> page.</p>
            </div>
            <div class="item">
                <h2>Need help?</h2>
                <p>See the <a href="/docs/">Documentation</a> pages.</p>
            </div>
        </div>
    </div>
</div>