---
layout: layouts/base.njk
permalink: /install/
title: Install
description: Install NovaSheets
keywords: "nixinova,novasheets,install novasheets"
js: headings
js2: colouring
---
{% set version %}{% include "templates/version.txt" %}{% endset %}
{% set patch %}{{version | last}}{% endset %}
<h1>Installing NovaSheets</h1>

<h2>npm</h2>
<p>
    Install <a href="https://npmjs.org/package/novasheets">NovaSheets on npm</a> via the command line using <code>npm install -g novasheets</code>, and then get started using <code>novasheets --help</code>. You must have Node.js installed to do this.
</p>

<h2>Browser</h2>
<p>
    NovaSheets is installed simply by embedding a JavaScript file into your HTML.
    This file can be downloaded and hosted locally by you
    (see <a href="#downloading">§&nbsp;Downloading</a>)
    or you can link directly to the source code
    (see <a href="#importing">§&nbsp;Importing</a>).
    That's it!
</p>

<h3>Downloading</h3>
<p>
    See the <a href="/versions/">Versions</a> page to choose a version to download.
    Once you have done this, you can download one of the files given and add them to your project,
    or embed NovaSheets into your project directly using the code provided.
</p>

<h3>Importing</h3>
<p>
    The latest version is <strong>{{version}}</strong> and can be imported using the code below:
    <pre style="white-space: inherit;">
        <code>
            &lt;script src="https://novasheets.netlify.app/src/{{version}}/min">&lt;/script>
        </code>
    </pre>
</p>

<p>
    While the minified version above is recommended for general use, you can also choose to use the more verbose regular version, which includes comments and indentation:
    <pre style="white-space: inherit;">
        <code>
            &lt;script src="https://novasheets.netlify.app/src/{{version}}">&lt;/script>
        </code>
    </pre>
</p>

<h4>Wildcards</h4>

<p>
    Additionally, you can choose to use a wildcard version, where you will always receive the latest patch:
    <pre style="white-space: inherit;">
        <code>
            &lt;script src="https://novasheets.netlify.app/src/{{version | replace('.' + patch, '.x')}}">&lt;/script><br>
            &lt;script src="https://novasheets.netlify.app/src/{{version | replace('.' + patch, '.x')}}/min">&lt;/script>
        </code>
    </pre>
</p>

<h4>Latest</h4>

<p>
    You can choose to always import the latest stable version of NovaSheets using the code below, but be warned it may contain breaking changes in an update:
    <pre style="white-space: inherit;">
        <code>
            &lt;script src="https://novasheets.netlify.app/src/stable">&lt;/script><br>
            &lt;script src="https://novasheets.netlify.app/src/stable/min">&lt;/script>
        </code>
    </pre>
</p>

<p>
    Alternatively, you can choose to import the main live source code directly,
    but be warned that it is continually updated and may contain incomplete or buggy features,
    so use it at your own risk:
    <pre style="white-space: inherit;">
        <code>
            &lt;script src="https://novasheets.netlify.app/src/latest">&lt;/script>
        </code>
    </pre>
</p>

<h3 id="browser-support">Browser support</h1>
<p>
    NovaSheets is supported in all major browsers, including Chrome, Edge (Chromium), Firefox, Opera, and Safari.
    NovaSheets does not work in older browsers such as Internet Explorer, as it is written using the following features from ECMAScript versions up to ES2018:

    <ul>
        <li>Arrow functions (<code>=></code>)</li>
        <li><code>let</code> and <code>const</code> declarations</li>
        <li>Rest operator (<code>...</code>)</li>
        <li>Nullish coalescing operator (<code>??</code>)</li>
        <li>Optional chaining (<code>?.</code>)</li>
        <li>RegEx lookbehinds (<code>(?&lt;!.)</code> and <code>(?&lt;=.)</code>)
        </li>
    </ul>
</p>